<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of Movies</h3>
      </div>
      <div class="box-body">
        <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
<table class="table table-bordered table-striped dataTable" role="grid">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Location</th>
      <th>City</th>
      <th>Director</th>
      <th>Actors</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.location.state %></td>
        <td><%= movie.location.city %></td>
        <td><%= movie.director.name %></td>
        <td><%= movie.actors.pluck(:name).join(',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

