<%= link_to 'Open Admin', admin_inquiry_url(@inquiry) %>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Inquiry #<%= @inquiry.id %></h3>
    <div class="box-tools pull-right"></div>
  </div>
  <div class="box-body">
    <p>
      <strong>Message:</strong>
      <%= @inquiry.message %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @inquiry.name %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @inquiry.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @inquiry.email %>
    </p>
  </div>
</div>
