<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of Users</h3>
      </div>
      <div class="box-body">
        <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="col-xs-1">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td>
                        <%= user.name %>
                      </td>
                      <td>
                        <%= user.email %>
                      </td>

                      <td>
                        <div class="btn-row">
                          <center>
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_admin_user_url(user), class: 'btn btn-sm btn-warning' %>
                            <%= link_to raw('<i class="fa fa-trash"></i>'), admin_user_url(user), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this element?' } %>
                          </center>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr role="row">
                    <th>Name</th>
                    <th>Email</th>
                    <th class="col-xs-1">Actions</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'New User', new_admin_user_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
