<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  Made with ♥ by <a href="https://www.linkedin.com/in/joseph-william-ba75bb43/">@jswilliam93</a>.
</footer>
