<header class="main-header">
  <%= content_tag :a, href: admin_root_path, class: 'logo' do %>
    <span class="logo-mini">
      <b>EG</span>
    <span class="logo-lg">
      <!-- <img alt="Logo" src="/assets/logo-white.png" style="width: 60%;"> -->
      <%= image_tag "logo-white.png", style: "width: 60%;" %>
    <% end %>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag "icon.png", class: "user-image" %>
              <span class="hidden-xs"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= image_tag "icon.png", class: "img-circle" %>
                <p>
                  <%= current_user.name %>
                  <small>Member since <%= current_user.created_at.strftime("%B, %Y") %></small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to 'Profile', edit_admin_user_path(current_user), class: 'btn btn-default -btn-flat' %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
