<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "icon.png", class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <%= link_to '<i class="fa fa-circle text-success"></i><span>Online</span>'.html_safe, admin_root_path %>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header"><%= t('admin.sidebar.main_navigation') %></li>

      <li class="header"><%= t('admin.sidebar.administration') %></li>
      <li><%= link_to '<i class="fa fa-circle-o"></i> All Movies'.html_safe, admin_movies_path %></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-mobile"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> All Users'.html_safe, admin_users_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-circle-o"></i> Create User'.html_safe, new_admin_user_path %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
