<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" content="" />
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Rails.application.secrets[:site_title] %>">
    <title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %></title>

    <%= stylesheet_link_tag 'application_back', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition login-page">

    <div class="login-box">
      <%= render partial: 'admin/shared/messages' %>
      <div class="login-logo">
        <!-- <img alt="Logo" src="/assets/logo.png" /> -->
        <%= image_tag "logo.png" %>
      </div>

      <div class="login-box-body">
        <%= yield %>
      </div>
    </div>

  <%= javascript_include_tag 'application_back' %>

  <% if content_for?(:added_scripts) %>
    <%= yield :added_scripts %>
  <% end %>
</html>
